@use "light";
@use "dark";

.center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* Light-mode */
body {
  background-color: light.$default-background;
  color: light.$default-color;

  button {
    color: light.$default-color;
  }

  /* Light-default */
  .default {
    background-color: light.$default-background;
    color: light.$default-color;
  }

  .default-background {
    background-color: light.$default-background;
  }

  .default-color {
    color: light.$default-color;
  }

  /* Light-inverted */
  .inverted {
    background-color: light.$inverted-background;
    color: light.$inverted-color;
  }

  .inverted-background {
    background-color: light.$inverted-background;
  }

  .inverted-color {
    color: light.$inverted-color;
  }
}

/* Dark-mode */
body.dark {
  background-color: dark.$inverted-background;
  color: dark.$inverted-color;

  button {
    color: dark.$inverted-color;
  }

  /* Dark-default */
  .default {
    background-color: dark.$inverted-background;
    color: dark.$inverted-color;
  }

  .default-background {
    background-color: dark.$inverted-background;
  }

  .default-color {
    color: dark.$inverted-color;
  }

  /* Dark-inverted */
  .inverted {
    background-color: dark.$default-background;
    color: dark.$default-color;
  }

  .inverted-background {
    background-color: dark.$default-background;
  }

  .inverted-color {
    color: dark.$default-color;
  }
}