@use "light";
@use "dark";

$db-max-height: 32.5vh;
$db-max-width: 17.5vw;

/* General */
.dbContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $db-max-width;
    height: $db-max-height;
    margin: 3.5vh 0;
}

.db {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: $db-max-height;
    border: 3px solid rgba(0, 0, 0, 0.5);
    box-shadow: 7.5px 7.5px 7.5px 7.5px rgba(0, 0, 0, 0.2);
    width: 12.5vw;
    border-radius: 25px;
}

/* Light-mode colors */
body {
    header {
        border-right-color: light.$default-color;
    }

    .home {
        border-top-color: light.$default-color;
        border-bottom-color: light.$default-color;
    }
}

/* Dark-mode colors*/
body.dark {
    header {
        border-right-color: dark.$inverted-color;
    }

    .home {
        border-top-color: dark.$inverted-color;
        border-bottom-color: dark.$inverted-color;
    }
}